body,
h1,
h2,
h3,
p,
ul {
  margin: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;

  height: 3000px;
  background-color: #332200;
}

img {
  border-radius: 4px;
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0px;
}

:root {
  --c12: #000000s;
}

.header-bg {
  background-color: #000000;
}

.header {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  column-gap: 6rem;
  row-gap: 1rem;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 76rem;
  padding: 1.4rem;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.header-menu a {
  color: #ffffff;
  display: inline-block;
  font-family: "Poppins";
  font-size: 1.1rem;
  font-weight: 400;
  padding: 1rem 0px;
  position: relative;
}

.header-menu a::after {
  background: #ffffff;
  content: "";
  display: block;
  height: 2px;
  margin-top: 4px;
  position: absolute;
  transition: 0.3s;
  width: 0px;
}

.header-menu a:hover::after {
  width: 100%;
}

.introducao-bg {
  background: #000000;
  box-shadow: inset 0 -7.5rem 0 #ffffff;
  color: #ffffff;
}

.introducao {
  box-sizing: border-box;
  display: grid;
  gap: 2.5rem;
  grid-template-columns: 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
  max-width: 76rem;
  padding: 0px 1.4rem;
}

.introducao-texto {
  align-self: end;
  font-family: "Roboto";
  font-weight: 400;
  padding-bottom: 10rem;
}

.introducao h1 {
  font-family: "Poppins";
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.125;
  margin-bottom: 2rem;
}

.introducao h1 span {
  color: #ffbb00;
}

.introducao p {
  color: #b2b2b2;
  font-size: 1.75rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

.introducao img {
  height: 100%;
  object-fit: cover;
}

.botao {
  background: linear-gradient(#ffbb00, #f2a50c);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: #332200;
  display: inline-block;
  font-size: 1.2rem;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 1.33;
  padding: 1rem 2rem;
  text-transform: uppercase;
}

.botao:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

@media (max-width: 1200px) {
  .introducao h1 {
    font-size: 3rem;
    margin-bottom: 1.5vw;
  }

  .introducao p {
    font-size: 1.5rem;
  }
}

@media (max-width: 900px) {
  .introducao h1 {
    font-size: 2rem;
  }

  .introducao p {
    font-size: 1.25rem;
  }
}

@media (max-width: 800px) {
  .header {
    justify-content: center;
  }

  .header-menu {
    gap: 4vw;
  }

  .header-menu a {
    background: #111111;
    border-radius: 4px;
    font-size: 1rem;
    padding: 2vh 4vw;
  }

  .header-menu a:hover {
    background: #2e2e2e;
    text-decoration: underline;
  }

  .header-menu a::after {
    display: none;
  }

  .introducao {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
  }

  .introducao-bg {
    background: #111111;
    box-shadow: inset 0 -10vw 0 #ffffff;
  }

  .introducao-texto {
    padding-top: 8vw;
    padding-bottom: 4vw;
  }
}

@media (max-width: 500px) {
  .header-menu a {
    font-size: 14px;
  }

  .introducao-texto {
    padding-top: 4vw;
  }
}
