.lista-bg {
  background: var(--cor-0);
  padding: 1rem 0;
}

.lista-bg h2 {
  margin-bottom: 2.5rem;
  padding: 0 1.4rem;
}

.lista {
  display: flex;
  gap: 2.4vw;
  margin-left: auto;
  margin-right: auto;
  max-width: 76rem;
  overflow-x: auto;
  padding: 0px 1.4rem 1.4rem 1.4rem;
}

.lista a {
  display: block;
}

.lista h3 {
  align-items: center;
  display: flex;
  gap: 8px;
  margin-bottom: 0.4rem;
}

.lista h3::before {
  background: var(--cor-p1);
  content: "";
  display: inline-block;
  height: 8px;
  transition: width 0.2s;
  width: 12px;
}

.lista a:hover h3::before {
  width: 24px;
}

.lista img {
  margin-bottom: 1rem;
}

.lista li {
  min-width: 280px;
}

.lista li span {
  padding-left: 20px;
}

@media (max-width: 800px) {
  .lista-bg {
    padding: 2.4rem 0;
  }
}
