.bold{
  font-weight: bold;
}

.capslock {
  text-transform: uppercase;
}

.font-1-xxl {
  /* 
  font-family: "Poppins";
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.125; 
  */
  font: 600 4rem/1.125 "Poppins", sans-serif;
}

.font-1-xl {
  font: 600 2rem/1.25 "Poppins", sans-serif;
}

.font-1-m {
  font: 400 1.1rem/1.35 "Poppins", sans-serif;
}

.font-2-l {
  font: 400 1.5rem/1.5 "Roboto", sans-serif;
}

.font-2-m {
  font: 400 1.125rem/1.35 "Roboto", sans-serif;
}

@media (max-width: 1200px) {
  .font-1-xxl {
    font-size: 3rem;
  }

  .font-2-l {
    font-size: 1.5rem;
  }
}

@media (max-width: 900px) {
  .font-1-xxl {
    font-size: 2rem;
  }

  .font-2-l {
    font-size: 1.25rem;
  }
}

@media (max-width: 800px) {
  .font-1-m {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .font-1-m {
    font-size: 14px;
  }
}
