.bicicleta-bg {
  background: var(--cor-11);
}

.bicicleta {
  align-items: start;
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr;
  padding: 60px 24px;
}

.bicicleta-imagens {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.bicicleta-imagens img {
  flex: 1;
  min-width: 200px;
}

.bicicleta-imagens img:first-child {
  min-width: 100%;
}

.bicicleta-conteudo > p {
  margin-bottom: 32px;
}

.bicicleta-comprar {
  align-items: center;
  display: grid;
  gap: 8px 12px;
  grid-template-columns: max-content auto;
  justify-items: start;
  margin-bottom: 40px;
}

.bicicleta-comprar a {
  grid-row: span 2;
}

.bicicleta-comprar span {
  align-items: center;
  background-color: var(--cor-12);
  border-radius: 4px;
  display: flex;
  gap: 6px;
  justify-items: start;
  padding: 2px 6px;
}

.bicicleta-info {
  background-color: var(--cor-12);
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 40px;
  margin-top: 12px;
  padding: 32px;
}

.bicicleta-info-item {
  padding: 12px 6px;
}

.bicicleta-info-item img {
  max-width: 24px;
  margin-bottom: 6px;
}

.bicicleta-ficha {
  background-color: var(--cor-12);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  margin-top: 12px;
  padding: 32px;
}

.bicicleta-ficha-item {
  border-bottom: solid var(--cor-11) 1px;
  display: flex;
  justify-content: space-between;
  padding: 6px 0px;
}

.bicicleta-ficha-item:last-child {
  border: none;
}
