.titulo-bg {
  background: var(--cor-12);
}

.titulo {
  padding: 60px 1.4rem;
}

.termos{
	padding: 120px 1.4rem;
}

.termos h2{
	margin-bottom: 20px;
}

.termos p{
	margin-bottom: 48px;
	max-width: 74ch;
}