.termos {
  padding: 120px 1.4rem;
}

.termos h2 {
  margin-bottom: 20px;
}

.termos p {
  margin-bottom: 48px;
  max-width: 74ch;
}

@media (max-width: 800px) {
  .termos {
    padding: 40px 1.4rem;
  }
}
